<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/web/layout/layout" >

	<header layout:fragment="header">
		<div class="header">
			<h1>
				<a href="/"><img src="/img/ak_logo.png" /></a>
			</h1>
			
			<div class="gnbWrap">
				<ul class="gnbList">
					<li>
						<a href="#">
							<span class="small">두드리다</span><br/>
							<span class="big">체험단/이벤트</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="small">나누다</span><br/>
							<span class="big">공지/커뮤니티</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="small">물들다</span><br/>
							<span class="big">후기/활동</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="small">만나다</span><br/>
							<span class="big">소개/문의</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</header>
 
</html>


