<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="/layout/layout" >

	<head th:fragment="head">
	  <title>AKLOVER</title>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  
	  <!-- CSS(s) -->
	  <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
	  <!-- CSS(e) -->
	  
	  <!-- JS(s) -->
	  <script type="text/javascript" th:src="@{/js/html5shiv.js}"></script>
	  <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
	  <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
	  <!-- JS(e) -->
	</head>
 
</html>