@charset "UTF-8";
@import url('layout_base.css');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* reset element */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0; padding:0;
}
 h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:inherit;}

 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, 
menu, nav, section {display:block;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:''; content:none;}

/* align, border, input */
img, fieldset, a {border:none;}
img {vertical-align:middle;}
table, thead, tbody, tfoot {border-collapse:collapse; border-spacing:0; border:0 none;}
table{width: 100%; table-layout: fixed;}
ul, ol, li {list-style:none;}
address, em {font-style:normal;}
input, select, textarea, button, form img {vertical-align:middle;}
button, input[type="submit"] {cursor:pointer;}
input:focus, button:focus, select:focus, textarea:focus {outline:0;}
button::-moz-focus-inner {border:0 none; padding:0;}

/* skipnavi */
ul#skipnavi {position:relative; left:0px; top:0px; width:100%; z-index:999; line-height:0; font-size:0;}
ul#skipnavi li a {position:absolute; top:-500px; text-indent:-9999px; line-height:1; font-size:12px;}
ul#skipnavi li a:hover, 
ul#skipnavi li a:focus, 
ul#skipnavi li a:active {
	font-size:12px; line-height:1; position:absolute; left:0px; top:0px; 
	font-weight:bold; text-indent:0px; padding:4px 0 0 0; text-align:center; 
	background:#f2f2f2; width:100%; display:block; height:20px; z-index:1000;}

/* anchor */
a {text-decoration:none;}
a:link {color:#333;}
a:visited {color:#333;}
a:hover {color:#333;}
a:focus {color:#333;}

input:-ms-input-placeholder {color:#bbb;}
input::-webkit-input-placeholder {color:#bbb;}
input::-moz-placeholder {color:#bbb;} 


header{width:100%; min-width:1200px; border-top:3px solid #f88b36; background-color: #fff;}
header .header{width:1200px; height: 100%; margin:0 auto;}
header .header h1{display: inline-block; vertical-align: top; margin-top:25px; margin-right:60px;}
header .header .gnbWrap{display: inline-block; vertical-align: top; margin-top:35px;}
header .header .gnbWrap .gnbList{width:100%; overflow: hidden;}
header .header .gnbWrap .gnbList li{float:left; padding:0 40px; height: 45px; text-align: left;}
header .header .gnbWrap .gnbList li a{color:#f88b36; font-weight: bold;}
header .header .gnbWrap .gnbList li .small{font-size: 13px;}
header .header .gnbWrap .gnbList li .big{font-size: 18px;}

#contentWrap{width:1200px; margin:0 auto; overflow: hidden; padding:70px 0 160px; min-height: 440px;}
#contentWrap article{}
#contentWrap article h1{position: relative; margin-bottom: 45px; font-weight: 500; font-size:28px; text-align: center;}

.listType1{border-top: 2px solid #c7c7c7;}
.listType1 th, .listType1 td{text-align: center; border-bottom: 1px solid  #e0e0e0;}
.listType1 th{padding: 18px 0; color: #212121; font-weight: 500; font-size: 18px;}
.listType1 td{padding: 10px 0; height: 33px; font-weight: 300}

.paging{margin: 0 auto; padding: 30px 0 12px; text-align: center;}
.paging a{position: relative; display: inline-block; width: 34px; height: 34px; margin: 0 1px; line-height: 34px; font-size:14px; text-align: center; font-weight: 300; vertical-align: bottom; border:1px solid #e0e0e0}
.paging .on{color: #fff; border: 1px solid #f88b36; background-color: #f88b36;}
 

